.dashboard-header__container {
  padding: 1rem;
  box-shadow: 0 2px 15px #e6e6e6;

  .menus {
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    img {
      width: 30px;
    }
    div:first-child img {
      width: 22px;
    }
  }
}
