.error-container {
  padding: 2rem;

  background: #f8dfdf;
  border: 1px solid rgb(238, 104, 104);

  p {
    text-align: center;
  }
}

.loading-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #cfcfcf;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l6 1s infinite linear;
}
.loader:after {
  --s: -1;
  animation-delay: -0.1s;
}
@keyframes l6 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
