table {
  display: block;
  min-width: 967px;
  max-width: 100%;
  border-collapse: collapse;
  position: relative;

  thead {
    position: sticky;
    top: 0;
    background: #fff;
  }

  tr {
    border-bottom: 1px solid #eeeeee;
  }

  th,
  td {
    padding: 1.2rem 1rem;
  }

  th .content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  th {
    font-size: 0.9rem;
    font-weight: 500;
  }

  th .sorter {
    margin-top: -7px;
  }

  th .sorter span {
    color: #ccc;
    line-height: 0;
    height: 7px;
    display: block;
    cursor: pointer;
  }

  td {
    font-size: 0.9rem;
  }
}
