.table-header {
  padding: 0.7rem 1rem;

  .user-search {
    border: 1px solid #ececec;
    border-radius: 5px 0 0 5px;
  }

  input {
    padding: 0.5rem 1rem;
    width: 300px;
    font-size: 0.9rem;
    border: none;
    outline: none;
  }

  button {
    padding: 0.5rem 0.7rem;
    background: #ccc;
    border: none;
    outline: none;
    line-height: 1;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
}

.users-data__container {
  height: clamp(300px, 500px, 600px);
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px #0001;
  overflow: auto;
}
