.btn {
  padding: 0.7rem 2rem;
}

.btn-sm {
  padding: 0.4rem 0.5rem;
}

.btn-md {
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background: $primary;
}

.btn-primary-light {
  background-color: lighten($primary, 5);
}

.btn-danger {
  background: $danger;
}

.btn-success {
  background: $success;
}

.btn-success-light {
  background: lighten($success, 5);
}
